.name_prof{
	vertical-align: top;
}

.time_prof{
	vertical-align: bottom;
	margin-left: -106px;
}


.post{
	height: 90%;
	overflow-y: scroll;
	width: 100%;
	padding-left: 10px;
}

.single-post{
	width: 50%;
	height: auto;
}

.post-pic{
	height: 300px;
	
}

.post-row{
	margin-bottom: 10px;
}

.like_icon{
	color: #3b5998;
}

.likes{
	margin-top: 5px;
}

.comments{
	margin-top: -15px;
}

.boder_com{
	border: 1px solid #DFD1D1;
	border-radius: 0px;
	min-height: 370px;
}

.boder_com1{
	border: 1px solid #DFD1D1;
	min-height: 370px;
}

.boder_com2{
	border: 1px solid #DFD1D1;
	min-height: 100px;
	border-top: none;
}

.fixed-row{
	width: 550px;
	top: 102px;
	right: 0;
	position: fixed;
}

.friend_list{
	border: 1px solid #DFD1D1;
	min-height: 556px;
}

.search{
	width: 265px;
	top: 610px;
	right: 5px;
	position: fixed;
}

.friend_box{
	background-color: #F4F4F4;
}

.friend_box:hover {
  text-decoration: none;
  color: #000;
}

.search_icon{
	color: #aaaaaa;
}

.prof_img{
	width:40px;
	height:40px;
}
	
.chat_img{
	width:32px;
	height:32px;
	margin-bottom: 5px;
}

.com_img{
	float: left;
	margin-right: 5px;
}

.comment_box{
	width: 480px;
	margin-left: 30px;
}

.input_comment{
	width: 100%;
	margin-right: -10px;
	background-color: #fff;
}

.post_desc p{
	font-size: 15px;
	font-weight: 100;
}
.post_desc:hover{
	color: #000;
}

.table-box{
	margin: 15px;
}

.table-div:hover{
	color: #000;
}

.box-edited{
	background: none;
	border: none;
	box-shadow: none;
	margin: 10px;
	font-size: 25px;
}

.button-right{
	padding: 10px 30px;
	font-size: 16px;
}

.img-icon{
	width: 70px;
	height: 70px;
	
}
.img-icon > img{
text-align: right;
color: ccc;
}
